@using static EscapeFromTarkov.Controllers.HomeController;
@{
    Layout = "_Layout";
    ViewData["Title"] = "НПС";
}
@model PrivateAccViewModel
<section>
    <form asp-action="NPS" method="get">
        <div class="grid-main">
            <div class="grid-container-main">
                @foreach (var nps in Model.Person)
                {
                    if (nps.Наименование != null)
                    {
                        <div>@nps.Наименование</div>
                    }
                }
            </div>
            <div class="main-container">
                <div id="name"></div>
            </div>
        </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.grid-container-main div').click(function() {
            var bossName = $(this).text().trim();
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetBossInfo", "Boss")', // указываем URL для обработки запроса
                data: { bossName: bossName }, // передаем имя босса на сервер
                success: function(data) {
                    $('#name').html(data); // обновляем содержимое div с id "name" полученными данными
                },
                error: function() {
                    alert('Произошла ошибка при получении информации о боссе');
                }
            });
        });
    });
</script>